<div class="row" ng-controller="OtherTeacherDetailCtrl as otdc">

    <div id="light" class="white_content"><a style="float: right" ng-click ="otdc.resetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Close</a>
        <div style="position:absolute; bottom:0;">
            <a ng-href="/#!/teachers"  class="btn">Danh sách</a>
            <a class="btn" ng-click ="otdc.resetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Tắt</a>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>

    <div >
        <h1>Thông tin giáo viên hướng dẫn</h1>
        <img style=" margin: 10px 30px; width: 140px; height: 165px; float: left" src="http://quanly2.herokuapp.com/api/fileupload/thumb/{{otdc.teacher.avatarID}}?inline=true" />
        <!--<img style=" margin: 10px 30px; width: 140px; height: 165px; float: left" src="http://localhost:9000/api/fileupload/thumb/{{otdc.teacher.avatarID}}?inline=true" />-->
        <div style="float: left; margin: 10px 30px">
            <p style="display: inline">Họ tên:</p> <h5 style="display: inline"> {{otdc.teacher.ten}}</h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p style="display: inline">Chức danh:</p> <h5 style="display: inline"> {{otdc.teacher.chucdanh}}</h5>
            <br/><br/>
            <p style="display: inline">Nơi công tác: </p><h5  style="display: inline">{{otdc.teacher.noicongtac}}</h5>
            <br/><br/>
            <p style="display: inline">Số điện thoại:</p><h5  style="display: inline"> {{otdc.teacher.dienthoai}}</h5>
            <br/><br/>
            <p style="display: inline">Email: </p><h5  style="display: inline">{{otdc.teacher.email}}</h5>
            <br/><br/>
            <p style="display: inline">Địa chỉ: </p><h5  style="display: inline">{{otdc.teacher.diachi}}</h5>
        </div>
        <div style="clear: both"></div>
    </div>
    <h3>Hướng dẫn khóa luận</h3>
    ...................................................
    <br/>
    ...................................................
    <br/>
    ...................................................
    <br/>
    ...................................................
</div>



