<div class="row" ng-controller="TeacherDetailCtrl as tdc">
    <div style="display:none">
        {{tdc.formOk =(
            (UpdateTeacherForm.ten.$error.required
                || false))
            ||(UpdateTeacherForm.chucdanh.$error.required || false)
            ||(tdc.initemail != tdc.teacher.email &&
            (UpdateTeacherForm.email.$error.unique
                || UpdateTeacherForm.email.$error.pattern
                || UpdateTeacherForm.email.$error.required
                || false))
            ||(UpdateTeacherForm.noicongtac.$error.required || false)
            ||(UpdateTeacherForm.dienthoai.$error.pattern || false)}}

        {{tdc.formOk? tdc.formDisable = "disabled": tdc.formDisable=""}}

        {{tdc.initemail == tdc.teacher.email ? UpdateTeacherForm.email.$error.unique = undefined: ""}}
    </div>
        <h1 >Thông tin giáo viên</h1>


        <div style="display: table-cell; width: 650px">
        <form id="UpdateTeacherForm" name="UpdateTeacherForm" class="form-horizontal" role="form"
              ng-submit="tdc.updateTeacher()">


            <label id="lbl_title" for="title" class=""><a ng-href="/#!/teachers"  class="btn btn-danger" style="display: inline; float: left">Quay lại</a></label>
            <h2 id="title" style="display: inline-block">&nbsp;</h2>

            <br/>
            <label id="lbl_ten" for="ten" class="col-sm-4 control-label">Họ và tên</label>
            <input style="cursor: not-allowed" type="text" class="form-control" name="ten" id="ten" placeholder="" disabled
                    ng-model="tdc.teacher.ten"
                    required>
            <div class="status">
                <small class="error" style="color: red" ng-show="UpdateTeacherForm.ten.$error.required">(*)</small>
            </div>


            <br/><br/>
            <label id="lbl_chucdanh" for="chucdanh" class="col-sm-4 control-label">Chức danh</label>
            <select class="form-control" id="chucdanh" name="chucdanh" ng-model="tdc.teacher.chucdanh" required>
                <option class="blank" value="">Please select a value</option>
                <option value="TS">TS</option>
                <option value="PGS">PGS</option>
                <option value="GS">GS</option>
                <option value="ThS">ThS</option>
            </select>
            <div class="status">
                <small class="error" ng-show="UpdateTeacherForm.chucdanh.$error.required">(*)</small>
            </div>


            <br/><br/>
            <label id="lbl_noicongtac" for="noicongtac" class="col-sm-4 control-label">Nơi công tác</label>
            <input type="text" class="form-control" name="noicongtac" id="noicongtac" placeholder=""
                   ng-model="tdc.teacher.noicongtac" required>
            <div class="status">
                <small class="error" ng-show="UpdateTeacherForm.noicongtac.$error.required">(*)</small>
            </div>

            

            <br/><br/>
            <label id="lbl_dienthoai" for="dienthoai" class="col-sm-4 control-label">Số điện thoại</label>
            <input type="text" class="form-control" name="dienthoai" id="dienthoai" placeholder=""
                   ng-model="tdc.teacher.dienthoai"
                   ng-pattern="/^[0-9]{10,11}$/">
            <!--ng-pattern="/^\+?[0-9\-]+\*?$/">-->
            <div class="status">
                <small class="error" ng-show="UpdateTeacherForm.dienthoai.$error.pattern">Số điện thoại không đúng</small>
                <small class="error" ng-show="UpdateTeacherForm.dienthoai.$error.pattern"><br/>Số điện phải là 10 số hoặc 11 số</small>
            </div>

            
            
            <br/><br/>
            <label id="lbl_email" for="email" class="col-sm-4 control-label">Email</label>
            <input style="cursor: not-allowed" type="text" class="form-control" name="email" id="email" placeholder="" disabled
                   ng-model="tdc.teacher.email"
                   ensure-unique="email"
                   required
                   ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">
            <div class="status">
                <small class="error"  ng-show="UpdateTeacherForm.email.$error.required">(*)</small>
                <small  class="error" ng-show="UpdateTeacherForm.email.$error.pattern">Không đúng định dạng Email<br/></small>
                <small  class="error" ng-show="UpdateTeacherForm.email.$error.unique">Email đã được sử dụng<br/></small>
            </div>
            

            
            
            
            <div ng-hide="!tdc.doUpdate">
            <br/>
            <label id="lbl_diachi" for="diachi" class="col-sm-4 control-label">Địa chỉ</label>
            <textarea rows="4" cols="50" id="diachi" name="diachi" ng-model="tdc.teacher.diachi">
            </textarea>
            </div>

            <br/>
            <div ng-hide="true">
                <input type="checkbox" name="active" id="active" ng-model="tdc.teacher.active">
            </div>


            <label id="lbl_button" for="submit" class="col-sm-4 control-label"></label>
            <button type="submit" id="submit" class="btn {{tdc.formDisable}}"
                    ng-disabled="tdc.formOk">Cập nhập</button>
            <div class="status" ng-show="tdc.loading">
                <img style="position: relative; top: 10px;" height="15" width="15" src="/assets/images/ajax-loader.gif" />
            </div>
            <div class="status">
                <small style="color: blue; position: relative; top: 10px;" ng-show="tdc.updateOk && !tdc.loading">Update thông tin thành công!<br/></small>
                <small style="color: red; position: relative; top: 10px;" ng-show="tdc.updateError && !tdc.loading">Update thông tin không thành công!<br/></small>
                <small style="position: relative; top: 10px;"  ng-show="tdc.user.email != tdc.userLogin.email">Chú ý: sau khi thay đổi email thì tải khoản sẽ bị logout!<br/></small>
            </div>

            <br/><br/>
            <hr>

        </form>
        </div>
        <div style="width:300px; display: table-cell;" ng-hide="!tdc.doUpdate">
            &nbsp;<br/><br/>
            <img style="width: 160px; height: 185px; float: left" src="http://quanly2.herokuapp.com/api/fileupload/thumb/{{tdc.teacher.avatarID}}?inline=true" />
            <!--<img style="width: 160px; height: 185px; float: left" src="http://localhost:9000/api/fileupload/thumb/{{tdc.teacher.avatarID}}?inline=true" />-->
            <div style="clear: both"></div>
            <div class="status" ng-show="tdc.loading2">
                <img height="10" width="10" src="/assets/images/ajax-loader.gif" />
            </div>
            <small style="color: blue" ng-show="tdc.updateAvataOk && !tdc.loading2">Update avatar thành công!</small>
            <small style="color: red" ng-show="tdc.updateAvataError && !tdc.loading2">Update avatar không thành công!</small>
            <br/>
            <div style="float: left">
                <input type="file" accept="image/*" file-model="tdc.myFile">
                <br/>
                <button ng-click="tdc.uploadFile()">Upload</button>

            </div>
            <div style="clear: both"></div>
        </div>
    </div>

</div>

