<div class="row" ng-controller="TeacherCtrl as tc">

    <div class="row">
        <div class="form-group">
            <h1>
                Danh sách giáo viên hướng dẫn
            </h1>
            <hr>
        </div>
        <div class="form-group">
            <br/>
            <div class="row text-center">
                <button type="button" ng-click="tc.pagePrev()" ng-disabled="tc.currentPage <= 1">&nbsp;&larr;&nbsp;</button>
                {{tc.currentPage}}/{{1>tc.bigTotalItems?1:tc.bigTotalItems}}
                <button type="button" ng-click="tc.pageNext()" ng-disabled="tc.currentPage >= tc.bigTotalItems">&nbsp;&rarr;&nbsp;</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input  type="text" ng-model="tc.preSearchText" placeholder="Tìm theo tên ..." ng-keyup="$event.keyCode == 13 && tc.search()">
                &nbsp;&nbsp;
                <button type="button" ng-click="tc.clear()">&nbsp;&nbsp;Xóa bộ lọc&nbsp;&nbsp;</button>
            </div>

        </div>

        <table id="teacher_list" class="table table-striped">
            <thead>
            <tr>
                <th style="width: 15%">Họ và tên</th>
                <th style="width: 10%">Chức danh</th>
                <th style="width: 15%">Nơi công tác</th>
                <th style="width: 15%">Số điện thoại</th>
                <th style="width: 15%">Email</th>

                <th style="width: 10%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="teacher in tc.teachers | filter:searchText">

                <td>
                    {{ teacher.ten }}
                </td>
                <td>
                    {{ teacher.chucdanh }}
                </td>
                <td>
                    {{ teacher.noicongtac }}
                </td>
                <td>
                    {{ teacher.dienthoai }}
                </td>
                <td>
                    {{ teacher.email }}
                </td>

                <td>
                    <a ng-href="/teacher/#!/teachers/detail/{{teacher._id.$oid}}" id="btn_teacherAm_detail">Chi tiết</a>
                </td>
            </tr>

            </tbody>

        </table>
        <div ng-hide="tc.teachers.length || tc.loading">
            <p class="text-center">Không tìm thấy giáo viên</p>
        </div>
        <div ng-show="tc.loading">
            <img height="30" width="30" src="/assets/images/ajax-loader.gif" />
        </div>
    </div>

</div>
