<div ng-controller="UpdatePasswordCtrl as upc">
    <h1 >Đặt lại mật khẩu mới</h1>
    <div>
        <div style="display:none">
            {{((userform.password == undefined) || (userform.password == upc.repassword)) ? upc.passwordMatch = false: upc.passwordMatch = true}}
            {{(form.$invalid || upc.passwordMatch)?upc.disabled = "disabled": upc.disabled = ""}}
        </div>
        <form name="form" class="form-horizontal" >
            <br/><br/>

            <input type="email" ng-hide="true" name="email" class="form-control" ng-model="userform.email" placeholder="Email" required />
            <br/><br/>

            <label id="lbl_password" for="password" class="col-sm-4 control-label">Mật khẩu mới</label>
            <input type="password" class="form-control" ng-model="userform.password"  id = "password"  name="password" placeholder=""
                   required ng-minlength="8" ng-maxlength="20" autofocus/>
            <div class="status">
                <small class="error" ng-show="form.password.$error.required">(*)</small>
                <small class="error" ng-show="form.password.$error.minlength || form.password.$error.maxlength">Password phải từ 8 đến 20 ký tự</small>
            </div>
            <br/><br/>

            <label id="lbl_repassword" for="repassword" class="col-sm-4 control-label">Gõ lại mật khẩu</label>
            <input type="password" class="form-control" ng-model="upc.repassword" id="repassword" name="repassword" required>
            <div class="status">
                <small class="error" ng-show="form.repassword.$error.required">(*)</small>
                <small class="error" ng-show="upc.passwordMatch">Mật khẩu nhập lại không trùng</small>

            </div>
            <br/><br/>

            <label id="lbl_submit" for="submit" class="col-sm-4 control-label"></label>

            <button id="submit" class="btn {{upc.disabled}}" type="submit" ng-disabled="form.$invalid || upc.passwordMatch" ng-click="upc.updatePassword()">Submit</button>
            <div class="status" ng-show="upc.loading">
                <img style="position: relative; top: 10px;" height="15" width="15" src="/assets/images/ajax-loader.gif" />
            </div>
            <div class="status">
                <small style="color: blue; position: relative; top: 10px;" ng-show="upc.updateOK && !upc.loading"> Update password thành công!</small>
            </div>
        </form>

    </div>
</div>`