<div class="row" ng-controller="TeacherDetailCtrl as tdc">

    <div id="light" class="white_content"><a style="float: right" ng-click ="tdc.resetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Close</a>
        <div style="position:absolute; bottom:0;">
            <a ng-href="/student/#!/teachers"  class="btn">Danh sách</a>
            <a class="btn" ng-click ="tdc.resetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Tắt</a>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>

    <div >
        <h1>Thông tin giáo viên hướng dẫn</h1>
        <img style=" margin: 10px 30px; width: 140px; height: 165px; float: left" src="http://quanly2.herokuapp.com/api/fileupload/thumb/{{tdc.teacher.avatarID}}?inline=true" />
        <!--<img style=" margin: 10px 30px; width: 140px; height: 165px; float: left" src="http://localhost:9000/api/fileupload/thumb/{{tdc.teacher.avatarID}}?inline=true" />-->

        <div style="float: left; margin: 10px 30px">

            <a ng-hide="dkluanvan" ng-href="/student/#!/teachers/dangky/{{tdc.teacher._id.$oid}}" style="position: absolute;right: 5%" type="button" class="btn-blue">Đăng ký</a>
            <p style="display: inline">Họ tên:</p> <h5 style="display: inline"> {{tdc.teacher.ten}}</h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <p style="display: inline">Chức danh:</p> <h5 style="display: inline"> {{tdc.teacher.chucdanh}}</h5>
            <br/><br/>
            <p style="display: inline">Nơi công tác: </p><h5  style="display: inline">{{tdc.teacher.noicongtac}}</h5>
            <br/><br/>
            <p style="display: inline">Số điện thoại:</p><h5  style="display: inline"> {{tdc.teacher.dienthoai}}</h5>
            <br/><br/>
            <p style="display: inline">Email: </p><h5  style="display: inline">{{tdc.teacher.email}}</h5>
            <br/><br/>
            <p style="display: inline">Địa chỉ: </p><h5  style="display: inline">{{tdc.teacher.diachi}}</h5>
        </div>
        <div style="clear: both"></div>
    </div>
    <hr>

    <div style="display: table-cell; width: 500px">
        <h3>Hướng dẫn khóa luận</h3>
        <ul ng-repeat="lv in tdc.luanvan">
            <li><b>{{lv.ten}}</b> - <i>{{lv.sinhvien}}</i></li>
        </ul>
    </div>

    <div style="display: table-cell;">
        <h3>Công bố khoa học</h3>
        <ul>
            <li>- Something ............................................................... </li>
            <br/>
            <li>- Something ............................................................... </li>
            <br/>
            <li>- Something ............................................................... </li>
            <br/>
            <li>- Something ............................................................... </li>
            <br/>
            <li>- Something ............................................................... </li>
            <br/>
            <li>- Something ............................................................... </li>
        </ul>
    </div>
    <br/><br/>

</div>



