<div class="row" ng-controller="UserDetailCtrl as udc">
    <div style="display:none">
        {{udc.formOk =(udc.initmssv != udc.user.mssv &&
            (UpdateUserForm.mssv.$error.unique
                || UpdateUserForm.mssv.$error.pattern
                || UpdateUserForm.mssv.$error.required
                || false))
            ||(UpdateUserForm.name.$error.required || false)
            ||(udc.initemail != udc.user.email &&
            (UpdateUserForm.email.$error.unique
                || UpdateUserForm.email.$error.pattern
                || UpdateUserForm.email.$error.required
                || false))
            ||(UpdateUserForm.nganh.$error.required || false)
            ||(UpdateUserForm.khoa.$error.required || false)
            ||(UpdateUserForm.dienthoai.$error.pattern || false)}}

        {{udc.formOk? udc.formDisable = "disabled": udc.formDisable=""}}
        {{udc.initmssv == udc.user.mssv ? UpdateUserForm.mssv.$error.unique = undefined: ""}}
        {{udc.initemail == udc.user.email ? UpdateUserForm.email.$error.unique = undefined: ""}}
    </div>

    <div id="light" class="white_content"><a style="float: right" ng-click ="udc.resetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Close</a>
        <p ng-show="udc.loading3" style="color:#48ff43">Đang xử lý .....</p>
        <p ng-show="udc.userCreated && !udc.loading3" style="color:blue">Tạo mới sinh viên thành công!</p>
        <p ng-show="!udc.userCreated && !udc.loading3" style="color:red">Lỗi tạo mới sinh viên</p>

        <p ng-show="udc.loading4" style="color:#48ff43">Đang xử lý .....</p>
        <p ng-show="udc.accountCreated && !udc.loading4" style="color:blue">Tạo account cho sinh viên thành công!</p>
        <p ng-show="!udc.accountCreated && !udc.loading4" style="color:red">Lỗi tạo mới account cho sinh viên</p>

        <div style="position:absolute; bottom:0;">
        <a ng-href="/admin/#!/students"  class="btn">Danh sách</a>
        <a class="btn" ng-click ="udc.resetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Thêm tiếp</a>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>
    <div >
        <h1 ng-hide="!udc.doUpdate">Thông tin sinh viên</h1>
        <h1 ng-hide="udc.doUpdate">Thêm mới sinh viên</h1>

        <div style="display: table-cell; width: 650px">
        <form id="UpdateUserForm" name="UpdateUserForm" class="form-horizontal" role="form"
              ng-submit="udc.doUpdate ? udc.updateUser() : udc.createUser()">


            <label id="lbl_title" for="title" class=""><a ng-href="/#!/students"  class="btn btn-danger" style="display: inline; float: left">Quay lại</a></label>
            <h2 id="title" style="display: inline-block">&nbsp;</h2>

            <br/>
            <label id="lbl_mssv" for="mssv" class="col-sm-4 control-label">Mã số sinh viên</label>
            <input type="text" class="form-control required" name="mssv" id="mssv" placeholder="" ng-model="udc.user.mssv"
                   mssv-unique="mssv"
                   required
                   ng-pattern="/^[0-9]{8}$/">
            <div class="status">
                <small class="error" style="color: red" ng-show="UpdateUserForm.mssv.$error.required">(*)</small>
                <small style="color:red" class="error" ng-show="UpdateUserForm.mssv.$error.pattern">Mssv phải là 8 số<br/></small>
                <small style="color:red" class="error" ng-show="UpdateUserForm.mssv.$error.unique">Mssv đã được sử dụng<br/></small>
            </div>


            <br/><br/>
            <label id="lbl_name" for="name" class="col-sm-4 control-label">Họ và tên</label>
            <input type="text" class="form-control required" name="name" id="name" placeholder=""
                   ng-model="udc.user.name"
                    required>
            <div class="status">
                <small class="error" ng-show="UpdateUserForm.name.$error.required">(*)</small>
            </div>



            <br/><br/>
            <label id="lbl_email" for="email" class="col-sm-4 control-label">Email</label>
            <input type="text" class="form-control required" name="email" id="email" placeholder="" ng-model="udc.user.email"
                    ensure-unique="email"
                    required
                    ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i">
            <div class="status">
                <small class="error"  ng-show="UpdateUserForm.email.$error.required">(*)</small>
                <small  class="error" ng-show="UpdateUserForm.email.$error.pattern">Không đúng định dạng Email<br/></small>
                <small  class="error" ng-show="UpdateUserForm.email.$error.unique">Email đã được sử dụng<br/></small>
            </div>


            <br/><br/>
            <label id="lbl_nganh" for="nganh" class="col-sm-4 control-label">Ngành học</label>
            <select class="form-control" id="nganh" name="nganh" ng-model="udc.user.nganh" required>
                <option class="blank" value="" >Please select a value</option>
                <option value="CNTT">CNTT</option>
                <option value="CNTT">DTVT</option>
            </select>
            <div class="status">
                <small class="error"  ng-show="UpdateUserForm.nganh.$error.required">(*)</small>
            </div>


            <br/><br/>
            <label id="lbl_khoa" for="khoa" class="col-sm-4 control-label">Khóa học</label>
            <select class="form-control" id="khoa" name="khoa" ng-model="udc.user.khoa" required>
                <option class="blank" value="">Please select a value</option>
                <option value="K56">K56</option>
                <option value="K57">K57</option>
            </select>
            <div class="status">
                <small class="error"  ng-show="UpdateUserForm.khoa.$error.required">(*)</small>
            </div>


            <div ng-hide="!udc.doUpdate">
            <br/>
            <label id="lbl_dienthoai" for="dienthoai" class="col-sm-4 control-label">Số điện thoại</label>
            <input type="text" class="form-control" name="dienthoai" id="dienthoai" placeholder=""
                   ng-model="udc.user.dienthoai"
                   ng-pattern="/^[0-9]{10,11}$/">
            <!--ng-pattern="/^\+?[0-9\-]+\*?$/">-->
            <div class="status">
                <small class="error" ng-show="UpdateUserForm.dienthoai.$error.pattern">Số điện thoại không đúng</small>
                <small class="error" ng-show="UpdateUserForm.dienthoai.$error.pattern"><br/>Số điện phải là 10 số hoặc 11 số</small>
            </div>

            <br/><br/>
            <label id="lbl_diachi" for="diachi" class="col-sm-4 control-label">Địa chỉ</label>
            <textarea rows="4" cols="50" id="diachi" name="diachi" ng-model="udc.user.diachi">
            </textarea>
            </div>


            <br/>
            <div ng-hide="true">
                <input type="checkbox" name="active" id="active" ng-model="udc.user.active">
            </div>



            <br/>
            <label id="lbl_button" for="btn_delete" class="col-sm-4 control-label"></label>
            <div ng-hide="!udc.doUpdate" style="display: inline"><a ng-click="udc.deleteUser(udc.initemail)" confirm-click ng-href="/#!/students" id="btn_delete" class="btn btn-danger">Xóa</a></div>
            <button type="submit" class="btn {{udc.formDisable}}"
                    ng-disabled="udc.formOk">{{udc.doUpdate? "Cập nhập":"Thêm mới"}}</button>

            <div class="status" ng-show="udc.loading">
                <img style="position: relative; top: 10px;" height="15" width="15" src="/assets/images/ajax-loader.gif" />
            </div>
            <small style="color: blue" ng-show="udc.updateOk && !udc.loading">Update thông tin thành công!</small>
            <small style="color: red" ng-show="udc.updateError && !udc.loading">Update thông tin không thành công!</small>
            <br/><br/>



        </form>
        </div>
        <div style="width:300px; display: table-cell;" ng-hide="!udc.doUpdate">
            &nbsp;<br/><br/>
            <img style="width: 160px; height: 185px; float: left" src="http://quanly2.herokuapp.com/api/fileupload/thumb/{{udc.user.avatarID}}?inline=true" />
            <!--<img style="width: 160px; height: 185px; float: left" src="http://localhost:9000/api/fileupload/thumb/{{udc.user.avatarID}}?inline=true" />-->
            <div style="clear: both"></div>
            <div class="status" ng-show="udc.loading2">
                <img height="10" width="10" src="/assets/images/ajax-loader.gif" />
            </div>
            <small style="color: blue" ng-show="udc.updateAvataOk && !udc.loading2">Update avatar thành công!</small>
            <small style="color: red" ng-show="udc.updateAvataError && !udc.loading2">Update avatar không thành công!</small>
            <br/>
            <div style="float: left">
                <input type="file" accept="image/*" file-model="udc.myFile">
                <br/>
                <button ng-click="udc.uploadFile()">Upload</button>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <hr>

</div>

