<div class="row" ng-controller="UserCtrl as uc">

    <div class="row">
        <div class="form-group">
        <h1>Danh sách sinh viên</h1>
        </div>
        <div class="form-group">
            <br/>
            <a ng-href="/admin/#!/students/create" class="btn btn-primary pull-right" id="btn_user_create">Thêm sinh viên</a>
            <br/>  <br/>
            <div class="row text-center">

                <button type="button" ng-click="uc.pagePrev()" ng-disabled="uc.currentPage <= 1">&nbsp;&larr;&nbsp;</button>
                {{uc.currentPage}}/{{1>uc.bigTotalItems?1:uc.bigTotalItems}}
                <button type="button" ng-click="uc.pageNext()" ng-disabled="uc.currentPage >= uc.bigTotalItems">&nbsp;&rarr;&nbsp;</button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input  type="text" ng-model="uc.preSearchTextMssv" placeholder="Tìm kiếm theo mssv ..." ng-keyup="$event.keyCode == 13 && uc.search()">
                &nbsp;
                <input  type="text" ng-model="uc.preSearchText" placeholder="Tìm kiếm theo tên ..." ng-keyup="$event.keyCode == 13 && uc.search()">
                &nbsp;&nbsp;
                <button type="button" ng-click="uc.clear()">&nbsp;&nbsp;Xóa bộ lọc&nbsp;&nbsp;</button>
            </div>

        </div>

        <table id="user_list" class="table table-striped">
            <thead>
            <tr>
                <th style="width: 10%">Mã sinh viên</th>
                <th style="width: 15%">Họ và tên</th>
                <th style="width: 15%">Email</th>
                <th style="width: 9%">Ngành học</th>
                <th style="width: 9%">Khóa học</th>
                <th style="width: 10%">Số điện thoại</th>
                <th>Địa chỉ</th>
                <th style="width: 10%"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="usr in uc.users | filter:searchText">
                <td>
                    {{ usr.mssv }}
                </td>
                <td>
                   {{ usr.name }}
                </td>
                <td>
                    {{ usr.email }}
                </td>
                <td>
                    {{ usr.nganh }}
                </td>
                <td>
                    {{ usr.khoa }}
                </td>
                <td>
                    {{ usr.dienthoai }}
                </td>
                <td>
                    {{ usr.diachi }}
                </td>
                <td>
                    <a ng-href="/admin/#!/students/detail/{{usr._id.$oid}}" id="btn_user_detail">Sửa</a>
                    &nbsp;|&nbsp;
                    <a ng-click="uc.deleteUser(usr.email)" confirm-click="Delete?" ng-href="/admin/#!/students">Xóa</a>
                </td>

            </tr>

            </tbody>

        </table>
        <div ng-hide="uc.users.length || uc.loading">
            <p class="text-center">Không tìm thấy sinh viên</p>
        </div>
        <div ng-show="uc.loading">
            <img height="25" width="25" src="/assets/images/ajax-loader.gif" />
        </div>
    </div>

</div>
