<div class="row" ng-controller="LuanVanCtrl as lvc">

    <div id="light" class="white_content"><a style="float: right" ng-click ="lvcresetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Close</a>
        <div style="position:absolute; bottom:0;">
            <a ng-href="/#!/teachers"  class="btn">Danh sách</a>
            <a class="btn" ng-click ="lvcresetError()" href = "javascript:void(0)" onclick = "hideOverlay()">Tắt</a>
        </div>
    </div>
    <div id="fade" class="black_overlay"></div>

    <div >
        <h1>Thông tin luận văn</h1>
        <img style=" margin: 10px 30px; width: 140px; height: 165px; float: left" src="http://quanly2.herokuapp.com/api/fileupload/thumb/{{lvc.user.avatarID}}?inline=true" />
        <!--<img style=" margin: 10px 30px; width: 140px; height: 165px; float: left" src="http://localhost:9000/api/fileupload/thumb/{{lvcteacher.avatarID}}?inline=true" />-->

        <div style="float: left; margin: 10px 30px">
            <p style="display: inline">Họ tên sinh viên:</p> <h5 style="display: inline"> {{lvc.user.name}}</h5>
            <br/><br/>
            <p style="display: inline">Mã số sinh viên:</p> <h5 style="display: inline"> {{lvc.user.mssv}}</h5>
            <br/><br/>
            <p style="display: inline">Email: </p><h5  style="display: inline">{{lvc.user.email}}</h5>
            <br/><br/>
            <p style="display: inline">Ngành:</p><h5  style="display: inline"> {{lvc.user.nganh}}</h5>

            <p style="display: inline">Khóa: </p><h5  style="display: inline">{{lvc.user.khoa}}</h5>
            <br/><br/>
            <p style="display: inline">Địa chỉ: </p><h5  style="display: inline">{{lvc.user.diachi}}</h5>
        </div>

        <div style="clear: both"></div>
    </div>
    <hr>
    <h3 class="t-center">Luận văn đã đăng ký</h3>
    <br/>
    <div style="padding-left: 150px;display:table-cell; width: 500px">
        <p style="display: inline">Tên luận văn:</p> <h5 style="display: inline"> {{lvc.lv.ten}}</h5>
        <br/><br/>
        <p style="display: inline">Mã :</p> <h5 style="display: inline"> {{lvc.lv.ma}}</h5>
        <br/><br/>
        <p style="display: inline">Giáo viên hướng dẫn :</p> <h5 style="display: inline"> {{lvc.lv.giaovien}}</h5>

        <!--<p style="display: inline">Tài liệu đính kèm: </p> <h5 style="display: inline"><a href="http://localhost:9000/api/fileupload/thumb/{{lvc.file[0].metadata.group}}">{{lvc.file[0].filename}}</a></h5>-->
    </div>

    <div style="display:table-cell; width: 500px">
        <p style=" display: inline">Giới thiệu:</p> <h5 style="display: inline"> {{lvc.lv.gioithieu}}</h5>
        <br/><br/>
        <!--<p style="display: inline">Tài liệu đính kèm: </p> <h5 style="display: inline"><a href="http://quanly2.herokuapp.com/api/fileupload/thumb/{{lvc.file[0].metadata.group}}">{{lvc.file[0].filename}}</a></h5>-->
        <p style="display: inline">Tài liệu đính kèm: </p> <h5 style="display: inline"><a href="http://localhost/9000/api/fileupload/thumb/{{lvc.file[0].metadata.group}}">{{lvc.file[0].filename}}</a></h5>
        <br/><br/>
    </div>
    <br/><br/>
    <div ng-hide="(lvc.lv.chapnhan != undefined)">
        <a class="btn" ng-click="lvc.chapnhan(lvc.lv.ma)" confirm-click="Chấp nhận?" >Chấp nhận</a>
        <a class="btn" ng-click="lvc.huybo(lvc.lv.ma)" confirm-click="Không chấp nhận?" >Hủy</a>
    </div>
    <h2 ng-show="(lvc.lv.chapnhan != undefined)" style="display: inline">Trạng thái:</h2>
    <a style="color: #009934"  ng-show="lvc.lv.chapnhan != undefined">{{lvc.lv.chapnhan? "Đã được chấp nhân": ""}}</a> {{lv.chapnhan}}
    <a style="color: #991d00" ng-show="lvc.lv.chapnhan != undefined">{{!lvc.lv.chapnhan? "Không được chấp nhận": ""}}</a>
    <hr>
</div>