<div ng-controller="SignupCtrl as sc">
    <h1 class="t-center">Sign Up</h1>
    <div class="center">
        <form name="form" class="form-signup" >
            <br/><br/>
            <input type="email" name="email" class="form-control" ng-model="userform.email" placeholder="Email" ensure-unique="email" required autofocus/>
            <small class="error" ng-show="form.email.$error.unique">That email is taken, please try another...</small>
            <br/><br/>
            <input type="password" class="form-control" ng-model="userform.password" placeholder="Password" required/>
            <br/><br/>
            <input type="text" name="role" ng-model="userform.role" placeholder="role"/>
            <br/><br/>
            <label class="checkbox">
                <input type="checkbox" ng-model="isConfirmed" value="terms-and-conditions"> Terms and Conditions
            </label>
            <br/><br/>
            <button class="btn btn-lg btn-primary btn-block" ng-disabled="form.$invalid || !isConfirmed" type="submit" ng-click="sc.signup()">Sign up</button>
        </form>
        <div class="alert alert-danger" ng-show="signupError">Something has gone wrong...</div>
        <div class="alert alert-success" ng-show="sc.signedUp">Congratulations! Your account has been registered successfully.</div>
    </div>
</div>`