
#cols {position:relative; margin:15px 0; padding-right:15px; background:url("../design/content.gif") 230px 0 repeat-y;}
#aside {float:left; width:215px; height:600px; margin-right:0;}
#content {margin-left:232px; overflow:visible;}
#tray .ico-col2 {display:none;}

html>body #aside {margin-right:20px;}
html>body #content {margin-left:0; overflow:hidden;}